@model ConorHarringtonATM.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ATM</h1>
    
    <form method="get" asp-controller="Home" asp-action="Result">
        <div class="form-group">
            <label>Enter withdrawal amount</label>
            <input type="number" class="form-control" name="input">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
    <h5>Remaining bills</h5>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Value</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>

        @foreach (var b in @Model.RemainingBillItems)
        {
            <tr>
                <td>@b.Value</td>
                <td>@b.Quantity</td>
            </tr>
        }

        </tbody>
    </table>
</div>